.tarjeta {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-color: #AAAAAA;
    -fx-border-radius: 10;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-padding: 15px;
}
